#content-wrapper .column {
  display: inline;
  }

#sidebar-first {
  margin-left: expression(
   document.all.content-main.offsetWidth * -1 +
   parseFloat(document.all.content-main.currentStyle.paddingLeft) +
   parseFloat(document.all.sidebar-first.currentStyle.paddingLeft) +
   parseFloat(document.all.sidebar-first.currentStyle.paddingRight)
   ); /* Fix for IE7 */
}


ul.menu li.leaf {
  list-style-image: none;
  }

ul.primary, ul.secondary {
  _width: auto; /* Reset to auto width for IE6 */
  }

ul.primary li, ul.secondary li {
  _width: 100px; /* Reset to auto width for IE6 */
  }

ul.primary li a, ul.primary li a:visted {
  _background: #DDDDDD;
  }

ul.primary li.active a {
  _background: #ffffff;
  }

* html .clearfix, * html .clear-block {
	height: 1%;
  }

* html.js fieldset.collapsed legend,
* html.js fieldset.collapsed legend *,
* html.js fieldset.collapsed table * {
  display: inline;
	}